.calculator {
    width: 275px;
    height: 500px;
   background-color: rgb(75, 77, 78);
   border: inset black
}
#display {
    border:  black thick solid;
    width:auto;
    height: 50px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: 25px 25px 25px 25px;
    grid-template-rows: 25px 25px 25px 25px 25px;
    grid-gap: 45px;
    padding:6px;
}

button {
    width: 40px;
    height: 30px;
    background-color: lime;
    border-radius: 50%;
    border-color: silver;
    padding: 25px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
   
}

button:active{
    transform: scale(0.9);
}
